{% extends 'base.html'%}
{% load static %}
{%block content%}
<div class="card bg-dark">
  <img src="{% static "img/topic.jpg"%}" class="card-img" alt="topic">
  <div class="card-img-overlay">
    <h5 class="card-title">Hello my friends</h5>
    <p class="card-text">Let’s chat..Write me your messages, I will definitely answer you</p>
    <p class="card-text">I know all the answers</p>
  </div>
</div>
<div data-mesh-id="SITE_FOOTERinlineContent-gridContainer" data-testid="mesh-container-content">
  <div id="comp-irvzf950" class="_2UdPt">
  </div>
  <div id="comp-irvyvkhz" class="_1Q9if" data-testid="richTextElement">
    <h6 class="font_6" style="font-size:23px;"><span style="letter-spacing:0.1em;">СВЯЖИТЕСЬ </span>
    </h6>
  <h6 class="font_6" style="font-size:23px;">
    <span style="font-weight:bold;">
      <span style="letter-spacing:0.1em;">
        <span style="font-family:arial black,arial-w01-black,arial-w02-black,arial-w10 black,sans-serif;">СО МНОЙ</span>
      </span>
    </span>
  </h6>
</div>
  <div id="comp-isk9y3ew" class="_1Q9if" data-testid="richTextElement">
    <p class="font_8" style="line-height:1.7em; font-size:15px;">
      <span style="font-family:open sans,sans-serif;">
        <span style="letter-spacing:0.02em;">ул. Белинского 54, Минск, РБ</span>
      </span>
    </p>
  <p class="font_8" style="line-height:1.7em; font-size:15px;">
    <span style="font-family:open sans,sans-serif;">
      <span style="letter-spacing:0.02em;">Телефон: +375 29 814-39-43</span>
    </span>
  </p>
  <p class="font_8" style="line-height:1.7em; font-size:15px;">
    <span style="font-family:open sans,sans-serif;">
      <span style="letter-spacing:0.02em;">katlouski@gmail.com</a>
      </span>
    </span>
  </p>
</div>
  <div id="comp-irx48avy" class="_2O-Ry">
    <ul class="xb9fU" aria-label="Панель соцсетей">
      <li id="dataItem-iwm0297u-comp-irx48avy" class="_3lu8e">
        <a data-testid="linkElement" href="http://www.vk.com" target="_blank" class="_26AQd">
          <wix-image id="img_0_comp-irx48avy" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-iwm0297u-comp-irx48avy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;c75715fd5e2f4f788c067a22b53f2277.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/c75715fd5e2f4f788c067a22b53f2277.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/c75715fd5e2f4f788c067a22b53f2277.png">
            <img src="https://static.wixstatic.com/media/c75715fd5e2f4f788c067a22b53f2277.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/c75715fd5e2f4f788c067a22b53f2277.png" alt="Black Vkontakte Icon" style="width:25px;height:25px;object-fit:cover;object-position:50% 50%">
          </wix-image></a></li><li id="dataItem-irx48awd1-comp-irx48avy" class="_3lu8e">
      <a data-testid="linkElement" href="http://www.facebook.com" target="_blank" class="_26AQd">
        <wix-image id="img_1_comp-irx48avy" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-irx48awd1-comp-irx48avy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;0fdef751204647a3bbd7eaa2827ed4f9.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/0fdef751204647a3bbd7eaa2827ed4f9.png">
          <img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/0fdef751204647a3bbd7eaa2827ed4f9.png" alt="Black Facebook Icon" style="width:25px;height:25px;object-fit:cover;object-position:50% 50%">
        </wix-image></a></li><li id="dataItem-irx48awg-comp-irx48avy" class="_3lu8e">
      <a data-testid="linkElement" href="http://www.twitter.com" target="_blank" class="_26AQd">
        <wix-image id="img_2_comp-irx48avy" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-irx48awg-comp-irx48avy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;c7d035ba85f6486680c2facedecdcf4d.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/c7d035ba85f6486680c2facedecdcf4d.png">
          <img src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/c7d035ba85f6486680c2facedecdcf4d.png" alt="Black Twitter Icon" style="width:25px;height:25px;object-fit:cover;object-position:50% 50%">
        </wix-image></a></li><li id="dataItem-irx48awi-comp-irx48avy" class="_3lu8e">
      <a data-testid="linkElement" href="https://instagram.com" target="_blank" class="_26AQd">
        <wix-image id="img_3_comp-irx48avy" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-irx48awi-comp-irx48avy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;01c3aff52f2a4dffa526d7a9843d46ea.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/01c3aff52f2a4dffa526d7a9843d46ea.png">
          <img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/01c3aff52f2a4dffa526d7a9843d46ea.png" alt="Black Instagram Icon" style="width:25px;height:25px;object-fit:cover;object-position:50% 50%">
        </wix-image></a></li><li id="dataItem-iskaxscj-comp-irx48avy" class="_3lu8e"><a data-testid="linkElement" href="https://www.youtube.com" target="_blank" class="_26AQd">
      <wix-image id="img_4_comp-irx48avy" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-iskaxscj-comp-irx48avy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;78aa2057f0cb42fbbaffcbc36280a64a.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/78aa2057f0cb42fbbaffcbc36280a64a.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/78aa2057f0cb42fbbaffcbc36280a64a.png">
        <img src="https://static.wixstatic.com/media/78aa2057f0cb42fbbaffcbc36280a64a.png/v1/fill/w_25,h_25,al_c,usm_0.66_1.00_0.01,enc_auto/78aa2057f0cb42fbbaffcbc36280a64a.png" alt="Black YouTube Icon" style="width:25px;height:25px;object-fit:cover;object-position:50% 50%">
      </wix-image>
    </a>
    </li>
    </ul>
  </div>

  <div id="comp-irvzpphf" class="_1Q9if" data-testid="richTextElement">
    <p class="font_9" style="line-height:1.6em; font-size:14px;">
      <span style="letter-spacing:0.04em;">© 2022 . Сайт создан на&nbsp;
        <a href="http://overone.by" target="_blank">overone.by</a>
      </span>
    </p>
</div>
  </a>
</div>
</div>
</div>

{% endblock %}