{% extends 'base.html'%}
{%block content%}
<div class="review card">
  <div class="card-header">
    {{topic.id}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: {{topic.name}}</li>
    <li class="list-group-item">Description: {{topic.description}}</li>
    <li class="list-group-item">Count posts: {{topic.count_post}}</li>
    <li class="list-group-item">Data created: {{topic.data}}</li>
    <li class="list-group-item">
            <a class="btn btn-dark" href="{% url 'topic_review_list' topic_id=topic.id%}" role="button">Posts</a>
            {% if user.is_authenticated %}
                <a class="btn btn-dark" href="{% url 'add_post' topic_id=topic.id%}">Add post</a>
                {% if user.is_superuser %}
                    <a class="btn btn-dark" href="{% url 'edit_topic' topic_id=topic.id%}" role="button">Edit topic</a>
                {% endif %}
            {% endif %}
    </li>
  </ul>
</div>
{% endblock %}